:root {
    --background: #edf1f3;
    --link-color: #4040c8;
    --muted-color: #212529;

    --header-background: #fff;

    --badge-background: #dae1e7;
    --badge-color: #212529;

    --border-color: #bbb;

    --covered: green;
    --covered-background: #e6f5d0;
    --uncovered: #bf616a;
    --uncovered-background: #FCE1E5;
    --mixed: #ddaa00;
    --mixed-background: #fff4c2;
    --background: #edf1f3;
    --topbar-background: #f6f8fa;
    --topbar-border: #d0d7de;
    --topbar-color: #2e3440;

  /* --topbar-hover-color: #afb8c133;
  --select-background: #d8dee9;
  --select-border: #d0d7de;
  --select-color: #2e3440;
  --gutter-color: #636c76;
  --quite-color: rgba(0, 0, 0, 0.5); */
}

:root.dark {
    --background: #111827;
    --link-color: #818cf8;
    --muted-color: #f3f4f6;

    --header-background: #374151;

    --badge-background: #d1d5db;
    --badge-color: #374151;

    --border-color: oklch(1 0 0 / 0.1);

    --covered: rgb(71, 210, 71);
    --covered-background: rgba(71, 210, 71, 0.2);
    --uncovered: #bf616a;
    --uncovered-background: rgba(193, 37, 52, 0.2);
    --mixed: #ffcc00;
    --mixed-background: rgba(255, 242, 0, 0.2);

    --background: #242931;
    --topbar-background: #2e3440;
    --topbar-border: #4c566a;
    --topbar-color: #d8dee9;

  /* --select-background: #242931;
  --select-border: #4c566a;
  --select-color: #d8dee9;
  --gutter-color: #636c76;
  --quiet-color: rgba(255, 255, 255, 0.6); */
}

* {
  /* font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
    color: var(--topbar-color);
    background-color: var(--background);
}

a { 
    color: var(--link-color); 
    text-decoration:none; 
}

h1 { font-size: 20px; margin: 0;}
h2 { font-size: 14px; }

/* HEADER */

header {
    padding: 10px;
    background: var(--header-background);
}

header .badge-list {
    display: flex;
}

header .badge {
    padding: 10px 0;
    padding-right:20px;
}

header .badge .quiet {
  color: #7f7f7f;
  color: var(--muted-color);
}

header .badge .fraction {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 10px;
  color: var(--badge-color);
  background: var(--badge-background);
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: middle;
}

header #theme-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;

    font-family: "Font Awesome 7 Free";
    font-feature-settings: "normal";

    --fa: "\f186"; /* fa-moon */
}

.dark header #theme-switcher {
    --fa: "\f185"; /* fa-sun */
}

header #theme-switcher::before {
    content: var(--fa);
    font-weight: 600;
    font-size: 1.5em;
    color: var(--topbar-color);
}

.status-line {  height: 10px; }
.status-line.low { background: var(--uncovered); }
.status-line.medium { background: var(--mixed); }
.status-line.high { background: var(--covered); }

/* COVERAGE LEVELS */
.low { background: var(--uncovered-background); }
.medium { background: var(--mixed-background); }
.high { background: var(--covered-background); }

/* MAIN */
.content {
  padding: 10px;
  margin-bottom: 10px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -48px;
}

/* FOOTER */
.footer {
  padding: 0px 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}