:root {
  --nav-gap: 15px;
  --covered: green;
  --uncovered: #bf616a;
  --mixed: #ddaa00;
  --background: #ffffff;
  --topbar-background: #f6f8fa;
  --topbar-border: #d0d7de;
  --topbar-color: #2e3440;
  --topbar-hover-color: #afb8c133;
  --select-background: #d8dee9;
  --select-border: #d0d7de;
  --select-color: #2e3440;
  --gutter-color: #636c76;
}

:root.dark {
  --covered: rgb(71, 210, 71);
  --uncovered: #bf616a;
  --mixed: #ffcc00;
  --background: #242931;
  --topbar-background: #2e3440;
  --topbar-border: #4c566a;
  --topbar-color: #d8dee9;
  --select-background: #242931;
  --select-border: #4c566a;
  --select-color: #d8dee9;
  --gutter-color: #636c76;
}

* {
  /* font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

